/**************
NORMALIZE
**************/

* {
  margin: 0;
  border: 0;
  padding: 0;
}


/**************
FONTS
**************/

h1 {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 3%;
}

h2 {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 1%;
}

h3 {
  font-family: 'Open Sans', serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
}


/**************
CORE HTML
**************/

html, body {
  height: 100%;
  width: 100%;
  min-height: 700px;
  min-width: 1200px;
}

nav {
  display: block;
  background-color: black;
  /*height: 15%;*/
  height: 5%;
  width: 100%;
}

footer {
  height: 150px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 3% 5%;
}
