/**************
NORMALIZE
**************/

* {
  margin: 0;
  border: 0;
  padding: 0;
}


/**************
FONTS
**************/

h1 {
  font-family: 'Droid Serif', serif;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 3%;
}

h2 {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 1%;
}

h3 {
  font-family: 'Open Sans', serif;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
}


/**************
CORE HTML
**************/

html, body {
  height: 100%;
  width: 100%;
  min-height: 700px;
  min-width: 1200px;
}

nav {
  display: block;
  background-color: black;
  height: 15%;
  width: 100%;
}

footer {
  height: 150px;
  background-color: white;
  border-top: 1px solid lightgray;
  padding: 3% 5%;
}


/**************
MAIN
**************/

main {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  /* Return height to 70% once the temporary footer is back at bg-color black & height: 15% */
  min-height: 55%;
  padding: 5% 5%;
}

#player-wrapper {
  /*border: 1px solid black;*/
  width: 28%;
}

#board-wrapper {
  /*border: 1px solid black;*/
  width: 27em;
  height: 100%;
}

#card-wrapper {
  /*border: 1px solid black;*/
  width: 28%
}

/* TODO PLACEHOLDER */

#map-placeholder {
  margin: 0 auto;
  width: 27em;
  height: 20em;
  margin-top: 30px;
  background-color: lightgray;
}

/**************
CORE STYLE FOR CONTENTS
OF EACH SECTION
**************/

.select-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 2%;
  padding: 4% 2%;
}

.select-container:hover {
  background-color: #f3f3f3;
}

.left-column {
  width: 70%;
}

.right-column {
  text-align: right;
  width: 25%;
}

/**************
FOOTER STYLES FOR TESTING ONLY
**************/

.all-cards {
  max-width: 500px;
}
.all-cards > div {
  display: inline-block;
  margin: 0 10px 3px 0;
  padding-right: 10px;
  border-right: 1px solid lightgray;
}

button {
  margin-bottom: 10px;
  background-color: black;
  color: white;
  padding: 7px;
}
