main {
  box-sizing: border-box;
  background-position: center;
  height: 60%;
  padding: 5% 5%;
  background-color: white;
  opacity: 0.95;
}

#main-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

#player-wrapper {
  width: 28%;
  height: 100%;
}

#map-wrapper {
  padding-top: 1.7em;
  width: 25em;
  height: 20em;
}

#card-wrapper {
  width: 28%;
  height: 100%;
}

/**************************************************
STYLE FOR PLAYER AND EVENT CLICKABLES
/**************************************************/

.card-element-container, .item-card-container {
  width: 100%;
  margin-bottom: 2%;
  padding: 2% 2%;
}

.select {
  display: flex;
  justify-content: flex-start;
}

.select:hover {
  background-color: #f3f3f3;
}

.left-column {
  width: 55%;
}

.right-column {
  text-align: right;
  width: 35%;
}

#card-outlook, #fate-cards-in-play {
  margin-top: 10px;
}

#actions-wrapper {
  border-top: 1px solid lightgray;
  margin-top: -5px;
  padding-top: 15px;
}

#meet-your-fate-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

#meet-your-fate-container > div {
  margin-bottom: 10px;
  background-color: black;
  height: 50px;
  width: 48%;
  border-radius: 5px;
  transition: all .125s ease-in-out;
}

#meet-your-fate-container > div:hover {
  background-color: #434343;
  transform: scale(1.035);
}

#fate-popup {
  margin-top: 0px;
}

#fate-popup p {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

/**************************************************
THE MAP
/**************************************************/

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 17.45%;
  padding: 1.5% 0;
}

.map {
  height: 100%;
  width: 14.25%;
  border-radius: 4px;
  transition: all .125s ease-in-out;
}

.unvisited:hover {
  background-color: #434343;
  transform: scale(1.085);
}

.unvisited {
  background-color: black;
}

.unvisited:hover {
  background-color: #434343;
}

.visited {
  background-color: lightgray;
}

/**************************************************
THE USER INTERFACE
/**************************************************/

#ui-wrapper {
  display: flex;
  justify-content: space-between;
}

#ui-wrapper #left, #ui-wrapper #right {
  width: 28%;
  border-top: 1px solid black;
  padding-top: 1%;
}

#sanity-container {
  display: inline-block;
  letter-spacing: 1.75px;
  margin-right: 15px;
}

#moon-container {
  display: inline-block;
  letter-spacing: 1.75px;
}

#ui-wrapper #right {

}

#message-log {
  width: auto;
  height: 30px;
}
