<!-- PLAYER WINDOW -->
<!-- PLAYER WINDOW -->
<section id="player-wrapper">
  <h1>Inventory</h1>
  <div class="select-container" id="player-item-1">
    <div class="left-column">
      <h2>Ancient Relic</h2>
      <p>Veligeni squunt est qui volupta sd ishtar lorence quodis ellicate pe aperem.</p>
    </div>
    <div class="right-column">
      <p>???????????</p>
    </div>
  </div>
  <div class="select-container" id="player-item-2">
    <div class="left-column">
      <h2>Bottle of Bourbon</h2>
      <p>Veligeni squunt est qui volupta sd ishtar lorence pe aperem.</p>
    </div>
    <div class="right-column">
      <p>Gain 1 Sanity, Moon rises</p>
    </div>
  </div>
  <div class="select-container" id="player-item-3">
    <div class="left-column">
      <h2>Dusty Book</h2>
      <p>Veligeni squunt est qui volupta sd ishtar lorence quodis ellicate.</p>
    </div>
    <div class="right-column">
      <p>Increase fortune in <strong>The Library</strong></p>
    </div>
  </div>
  <div class="select-container" id="player-item-4">
    <div class="left-column">
      <h2>Broken Bauble</h2>
      <p>Veligeni squunt est qui volupta sd ishtar lorence.</p>
    </div>
    <div class="right-column">
      <p>Increase fortune in <strong>The Attic</strong></p>
    </div>
  </div>
  <div id="sanity">
    <p>SANITY OOOOO</p>
  </div>
  </div>
</section>

<!-- GAME BOARD WINDOW -->
<!-- GAME BOARD WINDOW -->
<section id="board-wrapper">
  <div id="map-placeholder"></div>
</section>

<!-- EVENT CARD WINDOW -->
<!-- EVENT CARD WINDOW -->
<section id="card-wrapper">
  </div><div id="card-text">
    <h1 id="name-card-type">The Observatory</h1>
    <h2>A Cloudless Sky</h2>
    <h3 id="card-text">Sitate eos sequisc imaximi ntinctem in conse omnim voluptume volupta consequis se omnis esed quiatin. Epuda sam quidernatur simolorum.</h3>
  </div>
  <div id="actions-wrapper">
    <div class="select-container" id="action-1">
      <div class="left-column">
        <h2>Look through the telescope</h2>
      </div>
      <div class="right-column">
        <p>Encounter</p>
      </div>
    </div>
    <div class="select-container" id="action-2">
      <div class="left-column">
        <h2>Look away</h2>
      </div>
      <div class="right-column">
        <p>Moon rises</p>
      </div>
    </div>
    <div class="select-container" id="action-3">
      <div class="left-column">
        <h2>Brief respite</h2>
      </div>
      <div class="right-column">
        <p>Use an item</p>
      </div>
    </div>
  </div>
</section>
